In [1]:
#model developemnt libraries and preprocessing libraries
import pandas  as pd
import numpy as np
from sklearn import preprocessing
import pygal
from IPython.display import SVG, display
import seaborn as sns

In [3]:
final_dataset= pd.read_csv('data/final_dataframe.csv')

In [4]:
final_dataset.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,1,1102,2,1,2,1,1,1,...,1,80,0,8.0,0,1,6,4,0,5
1,49,0,2,279,1,8,1,1,1,2,...,4,80,1,10.0,3,3,10,7,1,7
2,37,1,1,1373,1,2,2,4,1,4,...,2,80,0,7.0,3,3,0,0,0,0
3,33,0,2,1392,1,3,4,1,1,5,...,3,80,0,8.0,3,3,8,7,3,0
4,27,0,1,591,1,2,1,2,1,7,...,4,80,1,6.0,3,3,2,2,2,2

In [5]:
final_dataset.shape

(1470, 35)